.titleInputContainer {
  background-image: url(./images/pattern-bg.png);
  overflow: hidden;
}

.titleInputContainer > h3 {
  text-align: center;
  color: white;
  /* margin-top: 3%; */
  padding-top: 1%;
}

.inputResult {
  display: flex;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  margin-left: 28%;
  margin-top: 2%;
  width: 45%;
  height: 45%;
  font-weight: 100;
  font-size: 12px;
}

.inputResult > .result {
  border-right: 1px solid grey;
  padding: 10px 15px 10px 15px;
  /* font-size: 15px; */
}
.ispResult {
  padding: 10px 15px 10px 15px;
}
